In [1]:
import pandas as pd
import numpy as np

In [2]:
a=pd.Series(data=[23,45,'fdg','fdfghjj'],index=['234',6874,242,87])

In [3]:
a['234':]

234          23
6874         45
242         fdg
87      fdfghjj
dtype: object

In [4]:
k=pd.Series({"key1":['vala','valb'],"key2":["valc","vald"],"key3":[56,76],"key4":[56,89]})

In [5]:
pd.Series({45:[1,2],67:[3,4]})

45    [1, 2]
67    [3, 4]
dtype: object

In [6]:
n=pd.Series(np.arange(6.0))

In [7]:
n[2:]

2    2.0
3    3.0
4    4.0
5    5.0
dtype: float64

In [8]:
n=pd.Series(np.array([1,45,89,76,45,56]))
n

0     1
1    45
2    89
3    76
4    45
5    56
dtype: int32

In [9]:
type(n)

pandas.core.series.Series

In [10]:
n.size

6

In [11]:
k.size

4

In [12]:
a=pd.Series([34,[46,89],754,2425,["aa",'b']])

In [13]:
a

0          34
1    [46, 89]
2         754
3        2425
4     [aa, b]
dtype: object

In [14]:
type(a)

pandas.core.series.Series

In [15]:
a.size

5

In [16]:
a[0:4:3]

0      34
3    2425
dtype: object

In [17]:
a.shape

(5,)

In [18]:
a[:]

0          34
1    [46, 89]
2         754
3        2425
4     [aa, b]
dtype: object

In [19]:
k["key1"]

['vala', 'valb']

In [20]:
k["key1"::2]

key1    [vala, valb]
key3        [56, 76]
dtype: object

In [21]:
k["key1"::2]

key1    [vala, valb]
key3        [56, 76]
dtype: object

In [22]:
n

0     1
1    45
2    89
3    76
4    45
5    56
dtype: int32

In [23]:
n.value_counts()

45    2
1     1
89    1
76    1
56    1
dtype: int64

In [24]:
n.max()

89

In [25]:
n.min()

1

In [26]:
n

0     1
1    45
2    89
3    76
4    45
5    56
dtype: int32

In [27]:
n

0     1
1    45
2    89
3    76
4    45
5    56
dtype: int32

In [28]:
n.min()

1

In [29]:
n.argmax()

2

In [30]:
n.argmin()

0

In [31]:
a=pd.Series(data=[23,45,4534,9776],index=['a','c','t','g'])

In [32]:
a

a      23
c      45
t    4534
g    9776
dtype: int64

In [33]:
a.max()

9776

In [34]:
a.argmax()

3

In [36]:
a.idxmax()

'g'

In [37]:
a.idxmin()

'a'

In [38]:
d=pd.DataFrame(data=[[23,34],[45,65]])

In [39]:
d

    0   1
0  23  34
1  45  65

In [40]:
type(d)

pandas.core.frame.DataFrame

In [43]:
import random as r
s=pd.DataFrame([[2,3,4,5,6],[3,6,7,8,4],[6,8,4,7,0],[5,6,7,8,9],[3,5,1,2,4]])

In [44]:
s

   0  1  2  3  4
0  2  3  4  5  6
1  3  6  7  8  4
2  6  8  4  7  0
3  5  6  7  8  9
4  3  5  1  2  4

In [45]:
s.tail(2)

   0  1  2  3  4
3  5  6  7  8  9
4  3  5  1  2  4

In [46]:
s.head(1)

   0  1  2  3  4
0  2  3  4  5  6

In [47]:
s.sample()

   0  1  2  3  4
1  3  6  7  8  4

In [48]:
s.sample()

   0  1  2  3  4
0  2  3  4  5  6

In [49]:
import numpy as np
s=pd.DataFrame([[2,np.nan,4,6],[np.nan,6,7,8,4],[6,8,4,7,0],[5,np.nan,7,8,9],[3,5,1,2,4]])

In [50]:
s

     0    1  2  3    4
0  2.0  NaN  4  6  NaN
1  NaN  6.0  7  8  4.0
2  6.0  8.0  4  7  0.0
3  5.0  NaN  7  8  9.0
4  3.0  5.0  1  2  4.0

In [51]:
s[['g','h','i']][0:]

KeyError: "None of [Index(['g', 'h', 'i'], dtype='object')] are in the [columns]"

In [52]:
s['p']=[544,6546,676,432,578]

In [53]:
s

     0    1  2  3    4     p
0  2.0  NaN  4  6  NaN   544
1  NaN  6.0  7  8  4.0  6546
2  6.0  8.0  4  7  0.0   676
3  5.0  NaN  7  8  9.0   432
4  3.0  5.0  1  2  4.0   578

In [54]:
s.size

30

In [55]:
s.shape

(5, 6)

In [56]:
s['p'].min()+s['p'].max()

6978

In [57]:
s['g']=s['h']+s['k']

KeyError: 'h'

In [58]:
s

     0    1  2  3    4     p
0  2.0  NaN  4  6  NaN   544
1  NaN  6.0  7  8  4.0  6546
2  6.0  8.0  4  7  0.0   676
3  5.0  NaN  7  8  9.0   432
4  3.0  5.0  1  2  4.0   578

In [59]:
f=s['g']>12

KeyError: 'g'

In [60]:
s[f]

NameError: name 'f' is not defined